
body{
    background-image: linear-gradient(rgb(248, 221, 131), white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;  
    margin: auto;
    padding: 25px
}
h1{
    font-size: 50px;
}
.one-Liners{
 font-style: italic   
}

figcaption{
    font-size: small;
    opacity: 50%
}
img{
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto
}
.background{
    position: relative;
    width: 50%
}
#npsLogo{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.NPStext{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(100%, -50%);
    -ms-transform: translate(-50%, -50%)
}
.background:hover .npsLogo {
    opacity: 0.3;
    width: 650px
  }
  .background:hover .NPStext {
    opacity: 1;
  }
  .NPStext{
    color: white;
    font-size: 18px;
    padding: 12px 24px;
  }
  #miniCooper{
      opacity: 0
  }
  
#miniCooper:hover{
    opacity: 1
}
.one-Liners:hover{
    color: white
}



